/* Section.css */
.section {
    margin: 20px;
    padding: 10px; /* Reduced padding */
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 10px; /* Reduced margin below the title */
    color: #333;
    text-align: left;
  }
  
  .card-container {
    display: flex;
    gap: 15px; /* Adjusted gap between cards */
    flex-wrap: wrap;
    justify-content: center; /* Center cards within the container */
  }
  